.added-member-name{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color:#666;
    background: #fff;
    border-radius: 5px;
    padding:0 3px;
}
.create-new-group .am-image-picker-list{
padding-left:15px;
}