.switch-input.am-list-item .am-input-label.am-input-label-5{
  width:160px;
}
.add-description .am-textarea-control textarea{
    min-height:75px;
}

.switch-input .am-input-control input{
    text-align: right;
}
.icon-edit-wrapper {
    position: relative;
}
.icon-edit-wrapper .operation-buttons{
    position: absolute;
    right:0;
    top:0;
}
.icon-edit-wrapper .operation-buttons svg{
    height:24px;
    width:24px;
    color:#1AAD16;
}