body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 
}
html, body{
  height:100%;
}
#root{
  height:100%;
}
.App {
  height:100%;
  text-align: center;
  background-color: #eee;
}

.price-input .am-input-control input{
  text-align:right;
}

.am-list-item.am-input-item{
  padding-right:15px;
}
